<!DOCTYPE html>
<html>

<head>
    <title>Video Game Catalogue</title>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <div id="header">
        <h1> Video Game Catalogue </h1>
    </div>

    <div id="selection">
        <h2> Manage Users </h2>

        <!-- dropdown for age ranges -->
        <select name="ageRange">
            <option value="all"> All ages </option>
            <option value="9"> 0-9 years old </option>
            <option value="19"> 10-19 years old </option>
            <option value="29"> 20-29 years old </option>
            <option value="39"> 30-39 years old </option>
            <option value="49"> 40-49 years old </option>
            <option value="59"> 50-59 years old </option>
            <option value="69"> 60-69 years old </option>
            <option value="79"> 70-79 years old </option>
            <option value="89"> 80-89 years old </option>
            <option value="99"> 90-99 years old </option>
            <option value="100+"> 100+ years old </option>
        </select>

        <div id="userSelect">
            <!-- button to show table with current parameters -->
            <input type="button" id="selectSubmit" value="View Users" name="selectSubmit">
            <!-- button to clear table -->
            <input type="button" id="selectClear" value="Clear Table" name="selectClear">
            <!-- table showing user information -->
            <table id="userTable" style="display:none">
                <thead>
                    <th id="user_id">User ID</th>
                    <th id="user_name">Name</th>
                    <th id="age">Age (years)</th>
                    <th id="created_at">Date of Account Creation</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>