<!DOCTYPE html>
<html>

<head>
    <title>Video Game Catalogue</title>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    <div id="header">
        <h1>Video Game Catalogue</h1>
    </div>
    
    <div id="sections">
        <h2> Manage Users</h2>
        <hr />

        <div id="userSelect">
            <input type="button" id="selectSubmit" value="View Users" name="selectSubmit">
            <input type="button" id="selectClear" value="Clear Table" name="selectClear">
            <table id="userTable" style="display:none">
                <thead>
                    <th id="user_id">User ID</th>
                    <th id="user_name">Name</th>
                    <th id="age">Age (years)</th>
                    <th id="created_at">Date of Account Creation</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>